<!-- templates/welcome.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Email</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            border: 1px solid #e0e0e0;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        }

        .header {
            background-color: #00f863;
            color: #ffffff;
            text-align: center;
            padding: 20px;
        }

        .header img {
            max-width: 150px;
            height: auto;

        }

        .content {
            padding: 20px;
            text-align: center;
        }

        .content h1 {
            color: #333333;
        }

        .content p {
            color: #666666;
        }

        .footer {
            background-color: #00f863;
            color: #ffffff;
            text-align: center;
            padding: 10px;
        }

        @media only screen and (max-width: 600px) {
            .container {
                width: 100%;
            }

            .content {
                padding: 10px;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="https://firebasestorage.googleapis.com/v0/b/vitalfix-4dbc4.appspot.com/o/logo%2FLogo.png?alt=media&token=4487ec10-92a1-4bb1-905a-b5682d0f7dbc"
                alt="Company Logo">
            <h1></h1>
            <p>{{details.createAd}} </p>
        </div>
        <div class="content">
            <h1>Bienvenido, {{email}}!</h1>
            <p>{{details.title}} </p>
        </div>
        <div class="content">

            <p>{{details.description}} </p>
        </div>
        <div class="footer">
            <p>&copy; 2024 Vitalfix. All rights reserved.</p>
        </div>
    </div>
</body>

</html>